<nav class="h-full justify-between px-0 py-4 bg-blue-50">
  <div>
    <div class="p-1"><%= link_to "Home", home_index_path %></div>
    <div class="p-1"><%= link_to "Tournaments", tournaments_path %></div>
  </div>
</nav>
