<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tournament.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= tournament.date %>
  </p>

</div>
