<h1>Editing tournament</h1>

<%= render "form", tournament: @tournament %>

<br>

<div>
  <%= link_to "Show this tournament", @tournament %> |
  <%= link_to "Back to tournaments", tournaments_path %>
</div>
