<p style="color: green"><%= notice %></p>

<h1>Tournaments</h1>

<div id="tournaments">
  <% @tournaments.each do |tournament| %>
    <%= render tournament %>
    <p>
      <%= link_to "Show this tournament", tournament %>
    </p>
  <% end %>
</div>

<%= link_to "New tournament", new_tournament_path %>
