<h2><%= @tournament.name %> Results</h2>

<div data-controller="results"
     data-results-submit-url-value="/tournaments/<%= @tournament.id %>/results/update_all"
     data-results-rows-value="<%= @results %>"
>
  <revo-grid id="editgrid" data-results-target="grid" style="height:600px"></revo-grid>
  <div class="m-4">
    <button data-action="results#addRow"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
      Add result
    </button>
    <button data-action="results#submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
    >
      Save changes
    </button>
  </div>
</div>

<style>
.deleted {
  text-decoration: line-through;
  color: lightblue;
  background-color: darkgrey;
}
</style>
