<div id="<%= dom_id player %>">
  <p>
    <strong>Userid:</strong>
    <%= player.userid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= player.rating %>
  </p>

</div>
